<p>Current USD Balance: <%= @lasttx.present? ? @lasttx.balance_cents : "0" %></p>
<p>Current Credit Balance: <%= @lasttx.present? ? @lasttx.balance_credits : "0" %></p>
<h1>Listing Transactions</h1>

<table class="ui blue selectable table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Txtype</th>
      <th>Currency</th>
      <th>Direction</th>
      <th>Amount cents</th>
      <th>Balance cents</th>
      <th>Amount credits</th>
      <th>Balance credits</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @txes.each do |tx| %>
      <tr>
        <td><%= link_to tx.id, tx_path(tx) %></td>
        <td><%= tx.txtype %></td>
        <td><%= tx.currency %></td>
        <td><%= tx.direction %></td>
        <td><%= tx.amount_cents %></td>
        <td><%= tx.balance_cents %></td>
        <td><%= tx.amount_credits %></td>
        <td><%= tx.balance_credits %></td>
        <td><%= tx.notes %></td>
        <td><%= link_to 'Show', tx %></td>
        <td><%= link_to 'Edit', edit_tx_path(tx) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tx', new_tx_path, class: 'ui button' %>
