<%= form_for(@plan, html: {class: 'ui form'}) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Plan Name</label>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label>Description</label>
    <%= f.text_field :description %>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Price (Cents)</label>
      <%= f.number_field :price %>
    </div>
    <div class="field">
      <label>Included Credits</label>
      <%= f.number_field :credits %>
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>Period</label>
      <%= f.select :period, Plan.periods.keys.to_a, {}, {class: 'ui dropdown'}%>
    </div>
    
    <div class="field">
      <label>Includes Review?</label>
      <%= f.check_box :includes_review %>
    </div>
    <div class="field">
      <label>Available?</label>
      <%= f.check_box :available %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

